{% extends 'base.html.twig' %}

{% block title %}New Addresses{% endblock %}

{% block body %}
    <h1>Create new Addresses</h1>

    {{ include('addresses/_form.html.twig') }}

    <a href="{{ path('app_profil') }}" class="btn btn-sm btn-outline-secondary mt-2">Retourner a mon profil</a>
{% endblock %}
